<% if current_user.id == @user.id %>
<h1><%= @user.name.capitalize %>'s Account Details</h1>
<p>Phone Number : <%= @user.phone_number %><br>
Email : <%= @user.email %></p>
<p><%= link_to "Edit User Info", edit_user_path(@user) %>

<div>
<h1>Reservations</h1>
  <% @user.reservations.each do |r| %>
  <p> Restaurant : <%= r.reserved_restaurant.name %><br>
  Reservation Time : <%= r.timeslot %><br>
  Party Size : <%= r.party_size %><br>
  Reservation Date : <%= r.date %><br>
  <%= r.id %>
</p>



<%= link_to "Edit a Reservation", edit_reservation_path(r) %>
<%= link_to "Delete a Reservation", reservation_path(r), method: :delete, data: {confirm: "Are you sure you want to delete this reservation?"} %>
  <% end %>
<% else %>
  <h2> Sorry, you do not have access to this account. </h2>
  <% end %>
</div>
