<main>
  <div class="hero-image">
<span class="chef-image">    <%= image_tag("chefs-table.jpg") %> </span>
    <h1 class="hero-title"> SEAT YOURSELF </h1>
</div>
<% @restaurants.each do |r| %>
<div class='all-restaurants'>

  <%= link_to image_tag(r.image_1, :alt => "restaurant", height: 150, width: 150), restaurant_path(r)%><br>
  <div class="restaurant-info">
  <p class="restaurant-name"><%= link_to r.name, restaurant_path(r)%><br></p>

  <p class="restaurant-price"><%= link_to r.price, restaurant_path(r) %><br><br><br></p>
  <p><%=link_to r.neighbourhood, restaurant_path(r) %> | <%= link_to r.cuisine_type, restaurant_path(r) %></p>
  </div>
</div>
<% end %>

</main>

<%= stylesheet_link_tag 'homepage' %>
