<main>
  <div class="hero-image">
<span class="chef-image">    <%= image_tag("chefs-table.jpg") %> </span>
    <h1 class="hero-title"> SEAT <span class="yourself">YOURSELF</span> </h1>
</div>
<% @restaurants.each do |r| %>
<div class='all-restaurants'>
  <%= link_to restaurant_path(r) do %><br>
  <%=image_tag(r.image_1, :alt => "restaurant", height: 150, width: 150)%>    <br>
  <div class="restaurant-info">
  <p class="restaurant-name"><%= r.name%></p>

  <p><%=r.neighbourhood %> | <%= r.cuisine_type %><br><br><br><br></p>
  <p class="restaurant-price"><%= r.price %></p>
  </div>
</div>
<% end %>
</a>
<% end %>

</main>

<%= stylesheet_link_tag 'homepage' %>
