<h1>Restaurant: </h1>

<%= @restaurant.name %>
<%= @restaurant.street_name %>
<%= @restaurant.neighbourhood %>
<%= @restaurant.postal_code %>
<%= @restaurant.city %>
<%= @restaurant.province %>
<%= @restaurant.country %>
<%= @restaurant.cuisine_type %>
<%= @restaurant.phone_number %>
<%= @restaurant.email %>
<%= @restaurant.price %>
<%= @restaurant.summary %>
<%= image_tag(@restaurant.image_1, :alt => "restaurant", height: 150, width: 150) %>


<% @timeslots.each do |t| %>
<% time_slot = t %>
<%= time_slot %>
<%= @restaurant.timeslot_check(time_slot, @restaurant.id, @date) %>
<br>
<% end %>
